<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Example</title>
    <script src="{{ url_for('static', filename='js/socket_io.js') }}"></script>
    <script type="text/javascript">
        // Verificar que la biblioteca se haya cargado correctamente
        if (typeof io !== 'undefined') {
            console.log('Socket.IO library loaded successfully');
        } else {
            console.error('Socket.IO library failed to load');
        }

        var socket = io.connect('http://' + document.domain + ':' + location.port);
        var deviceState = 'off'

        socket.on('connect', function() {
            console.log('Connected to server');
        });

        function sendMessage() {
            deviceState = (deviceState === 'off') ? 'on' : 'off';
            socket.emit('toggle_device', { state: deviceState });           
        }

        function sendMessage_2() {
            deviceState = 'clc';
            socket.emit('Control_loop', { state: deviceState });           
        }

        function sendMessage_4() {
            deviceState = 'Start';
            socket.emit('Control_level', { state: deviceState });           
        }

        function sendMessage_5() {
            deviceState = 'Stop';
            socket.emit('Control_level', { state: deviceState });           
        }

        socket.on('device_status', function(data) {
            console.log('Device status:', data.status);
        });

    </script>
</head>
<body>
    <h1>
        {% block title%}
            {{ title }}
        {% endblock %}
    </h1>
    <button onclick="sendMessage()">Send Message</button>
    <br>
    <button onclick="sendMessage_2()">Send Message</button>
    <br>
    <button onclick="sendMessage_4()">Send Message</button>
    <br>
    <button onclick="sendMessage_5()">Send Message</button>
    <h2>Messages</h2>
    <ul id="messages">
        <!-- Mensajes se agregarán aquí -->
    </ul>
</body>
</html>